{% extends "impl.j2" %}

{% block summary %}
<p>Dit implementatie model werd opgesteld om de implementatie van datasets van kruispuntmetingen eenvoudiger te mappen op de bestaande OSLO modellen. Dit implementatiemodel kruispuntmetingen werd opgesteld voor verkeersmetingen waarbij de snelheid van of het aantal [voertuigtypes]( https://data.vlaanderen.be/doc/concept/VkmVoertuigTypes/) wordt gemeten. Het model gaat ervan uit dat de verkeersmetingen plaatsvinden op een kruispunt of een splitsing. Het implementatiemodel maakt het mogelijk om de dataset [OpenLR](www.openlr.org) compliant te omschrijven.</p>
{% endblock %}
