{% extends "impl.j2" %}

{% block summary %}
<p>Dit implementatie model werd opgesteld om de implementatie van datasets van verkeersmetingen eenvoudiger te mappen op de bestaande OSLO modellen. Dit implementatiemodel verkeersmetingen werd opgesteld voor verkeersmetingen waarbij de snelheid van of het aantal [voertuigtypes]( https://data.vlaanderen.be/doc/concept/VkmVoertuigTypes/) wordt gemeten. Hierbij wordt enkel uitgegaan van een verkeersmeting langs een wegsegment, waarbij er geen opsplitsing is van dit wegsegement. Hierbij wordt de verkeersmetingen dataset gemapd naar OSLO modellen, zodoende dat deze dataset [OpenLR](www.openlr.org) compliant is.</p>
{% endblock %}

